@import "variables";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.carousel-item {
		img {
			height: 300px;
			object-fit: cover;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#top {
		h5 {
			font-size: 1rem;
		}
	}

	.carousel-item {
		img {
			height: 200px;
			object-fit: cover;
		}
	}

	.section {
		p, span {
			font-size: 1rem;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
	.carousel-item {
		img {
			height: 200px;
			object-fit: cover;
		}
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 0px) {
	/**/
}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 0px) {
	/**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576x) {
	/**/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/**/
	.carousel .active{
		img {
			transform:scale(1.5);
			transition: transform 10s ease-out;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/**/
}